body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: #fff;
}

/* header */
.navbar {
    background-color: transparent;
}
/* fondo de nav cambia */
.bg-scroll{
    font-weight: 600;
    font-size: 1.2rem;
}

/* main */

#destacado, #nosotros{    
    margin-bottom: 5rem;
}

.title-section{
    border-bottom: 2px solid #33bfcc;
    color: #fff;
    font-weight: 500;
}

.title-section h4{
    margin-bottom : 1rem;
}

.head-nosotros{
    background-color: #33bfcc;
    font-size: 1.3rem;
}

.card{
    background-color: #33bfcc;
    color: #fff;
    border: #fff solid 1px;
}

/* iguala tamaño de img */
.card-img-top{
    object-fit: cover;
    height: 10rem;
}

.color-footer{
    background-color: #33bfcc;
    color:#fff;
    font-size: 1.2rem;
}

.footer-brand{
    font-weight: 500;
    text-transform: uppercase;
}

.footer-icons{
    width: auto;
    padding-left: 30%;
}

/* div escondido en desktop device */
#show-sm{
    display: none;
}

/* media querys */
@media (max-width: 767.98px) {
    #nosotros{           /*esconde seccion en sm device*/
        display:none;
    }
}

@media (max-width: 991.98px) {
    #nosotros{                  /*ajusta estilo de elementos*/
        width: 80%;
        padding-left: 20%;
        text-align: justify;
    }

    .head-nosotros{ /* esconde iconos de seccion nosotros */
        display: none;
    }

    .body-nosotros{
        padding-top: 3rem;
    }

    .body-nosotros p::first-letter{ /* efecto de mayuscula al iniciar parrafo */
        float: left;
        font-size: 5.4em;
        line-height: 1;
        margin-right: .6rem;
    }

    .card{ /* posicionamiento en x */
        margin: auto;
        width: 80%;
    }

    #hide-sm{                /* modifica footer */
        display: none;
    }

    #show-sm{
        display:block;
        text-align: center;
    }

    .footer-icons{
        margin: auto;
        padding: 0;
        font-size: 2rem;
    }   
}