body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: #fff;
}

/* header */
.navbar {
    background-color: transparent;
}

.bg-scroll{
    background-color:rgba(32, 37, 38, 0.9);
    font-weight: 500;
}

/* main */

#destacado, #nosotros{    
    margin-bottom: 5rem;
}

.title-section{
    border-bottom: 2px solid #33bfcc;
    color: #fff;
    font-weight: 500;
}

.title-section h4{
    margin-bottom : 1rem;
}

.head-nosotros{
    background-color: #33bfcc;
    font-size: 1.3rem;
}

.card{
    background-color: #33bfcc;
    color: #fff;
}



/* media querys */
@media (max-width: 767.98px) {
    #nosotros{
        display:none;
    }


    
}

@media (max-width: 991.98px) {
    #nosotros{
        width: 80%;
        padding-left: 20%;
        text-align: justify;

    }
    .head-nosotros{
        display: none;
    }

    .body-nosotros{
        padding-top: 3rem;
    }

    .body-nosotros p::first-letter{
        float: left;
        font-size: 5.4em;
        line-height: 1;
        margin-right: .6rem;
    }


}